Source: truenas-verify
Maintainer: iX Development Team <dev@ixsystems.com>
Section: python
Priority: optional
Build-Depends:	debhelper (>= 12),
    dh-python,
    python3-setuptools,
    python3-all
Standards-Version: 4.3.0
Homepage: https://github.com/truenas/truenas_verify

Package: python3-truenas-verify
Architecture: all
Depends:	${misc:Depends}, ${python3:Depends}
Description: TrueNAS SCALE File Hash Verification
